<!DOCTYPE html>
<html>
<head>
<title> movielensRecApi </title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 <!-- <link rel="stylesheet" href="mystyle.css"> -->
</head>
<body>
<header>
  <hgroup>
    <h1>Recommendation Api Documentation</h1>
    <h2><em>@movielens Dataset</em></h2>
  </hgroup>
</header>
<nav>
  <!-- ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Categories</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About</a></li>
  </ul> -->
</nav>
<main>
  <header>
    <h2>Api Endpoints</h2>
  </header>
  <article>
    <header>
      <h3>\users</h3>
    </header>
    <section>
      <p>The Manhattan Project was a research and development undertaking during World War II that produced the first nuclear weapons. It was led by the United States with the support of the United Kingdom and Canada.</p>
      <a href="#">check here</a>
    </section>
  </article>
  <article>
    <header>
      <h3>\users\user_id</h3>
    </header>
    <section>
      <p>Shale oil extraction is an industrial process for unconventional oil production. This process converts kerogen in oil shale into shale oil by pyrolysis, hydrogenation, or thermal dissolution. The resultant shale oil is used as fuel oil or upgraded
        to meet refinery feedstock specifications by adding hydrogen and removing sulfur and nitrogen impurities.</p>
      <a href="#">check here</a>
    </section>
  </article>
  <article>
    <header>
      <h3>\movies</h3>
    </header>
    <section>
      <p>Acid2 is a test page published and promoted by the Web Standards Project to expose web page rendering flaws in web browsers and other applications that render HTML. It was developed in the spirit of Acid1, a relatively narrow test of compliance with
        the Cascading Style Sheets 1.0 (CSS1) standard, and was released on April 13, 2005.</p>
      <a href="#">check here</a>
    </section>
  </article>
  <article>
    <header>
      <h3>\movies\movie_id</h3>
    </header>
    <section>
      <p>The Astrophysics Data System is an online NASA database of over 7,000,000 astronomy and physics papers from both peer reviewed and non-peer reviewed sources. Abstracts are available free online for almost all articles, and full scanned articles are
        available in GIF and PDF format for older articles.</p>
      <a href="#">check here</a>
    </section>
  </article>
  <article>
    <header>
      <h3>\query\user_id</h3>
    </header>
    <section>
      <p>Acid2 is a test page published and promoted by the Web Standards Project to expose web page rendering flaws in web browsers and other applications that render HTML. It was developed in the spirit of Acid1, a relatively narrow test of compliance with
        the Cascading Style Sheets 1.0 (CSS1) standard, and was released on April 13, 2005.</p>
      <a href="#">check here</a>
    </section>
  </article>
</main>
<aside>
  <section>
    <h2>About</h2>
    <ul>
      <li><a href="#">March 2018</a></li>
      <li><a href="#">April 2018</a></li>
      <li><a href="#">May 2018</a></li>
      <li><a href="#">June 2018</a></li>
      <li><a href="#">July 2018</a></li>
      <li><a href="#">August 2018</a></li>
      <li><a href="#">September 2018</a></li>
      <li><a href="#">October 2018</a></li>
    </ul>
  </section>
  <section>
    <h2>Useful Links</h2>
    <ul>
      <li><a href="#">Agriculture</a></li>
      <li><a href="#">Automation</a></li>
      <li><a href="#">Banking</a></li>
      <li><a href="#">Computer</a></li>
      <li><a href="#">Energy</a></li>
      <li><a href="#">Medical</a></li>
      <li><a href="#">Military</a></li>
      <li><a href="#">Transportation</a></li>
    </ul>
  </section>
</aside>
<footer>
  <p>Made with <span style="color: #F44336">&hearts;</span> by <a href="https://github.com/alphaWizard/">alphaWizard</a></p>
</footer>
</body>
</html>